.MPage {
  text-align: center;
}
body {
  /* background-color: #e0f5e4; */
  background-image: url("https://www.ppt-backgrounds.net/thumbs/books-pastel-clipart-graphic-keynote.gif");
}

.mem-list {
  width: 800px;
  height: 300px;
  background-color: white;
  margin-top: 30px;
  overflow: auto;
  max-height: calc(100vh - calc(100vh / 2));
  margin-left: 560px;
  border-radius: 25px;
  border-color: #7cc7d8;
  border-style: inset;
  border-width: 20px;
  background-image: url("./components/pics/back.png");
}

.mem-item {
  margin-left: 15px;
  margin-bottom: 5px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}

.image-specs {
  width: 175px;
  height: 275px;
  border-radius: 5%;
}

.bookitem-specs {
  text-align: center;
  padding: 30px;
  align-items: center;
}

.single-doctor:hover {
  top: 8px;
  right: 8px;
}

.search-bar {
  text-align: center;
  width: 400px;
  height: 35px;
  margin-bottom: 30px;
}

.sb-specs {
  text-align: center;
}

.booklist-specs {
  display: flex;
  flex-direction: row;
}

.addBook-specs {
  margin-bottom: 30px;
}

.genre-specs {
  margin-bottom: 100px;
}

.nav-specs {
  width: fit-content;
  height: fit-content;
}
